<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--
    <meta name="keywords" content='線上書狀、書狀不求人、法律書狀' />
    <meta name="description" content="線上書狀不求人，提供專業法律書狀" /> 
    -->
    <!-- 提供搜尋引擎關於網頁頁面內的重要資訊-->
    
    <title>{% block title %}Easy! 書狀不求人-自己輕鬆DIY書狀{% endblock %}</title>
    <!--Instruct Django to load static files-->
    <link rel="stylesheet" href="../static/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../static/base.css" type="text/css" />
    <link rel="stylesheet" href="../static/custom.css" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css" /> <!--Google icons*/-->
 

    <!--Needed for application selector-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" 
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" 
            crossorigin="anonymous"> 
    </script> 

</head>
<body>
  <header>
    <!--Navbar header-->
    <nav class="navbar navbar-light navbar-custom fixed-top navbar-expand-lg ">
      <div class="container-fluid d-flex">
        <a class="navbar-brand flex-grow-1" href="{% url 'index' %}" target="_blank">Easy! 書狀不求人</a>

        <button class="navbar-toggler m-1 p-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                金錢債務
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'ticket' %}">本票</a></li>
                <li><a class="dropdown-item" href="{% url 'application' %}">支票</a></li>
                <li><a class="dropdown-item" href="#">借款</a></li>
                <li><a class="dropdown-item" href="#">貨款</a></li>
                <li><a class="dropdown-item" href="#">通用起訴狀</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                婚姻感情
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">離婚</a></li>
                <li><a class="dropdown-item" href="#">給付扶養費</a></li>
                <li><a class="dropdown-item" href="#">酌定會面交往權</a></li>
                <li><a class="dropdown-item" href="#">夫妻剩餘財產</a></li>
                <li><a class="dropdown-item" href="#">離婚協議書</a></li>
                <li><a class="dropdown-item" href="#">通用起訴狀</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                居住鄰損
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">房租欠繳</a></li>
                <li><a class="dropdown-item" href="#">押金催討</a></li>
                <li><a class="dropdown-item" href="#">漏水修繕費</a></li>
                <li><a class="dropdown-item" href="#">請求漏水修繕</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                交通事故
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">車禍賠償</a></li>
                <li><a class="dropdown-item" href="#">通用起訴狀</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                勞資爭議
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">雇傭關係存在</a></li>
                <li><a class="dropdown-item" href="#">給付資遣費</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                遺囑
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">自書遺囑</a></li>
                <li><a class="dropdown-item" href="#">律師見證遺囑</a></li>
                <li><a class="dropdown-item" href="#">其他遺囑介紹</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                其他書狀
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">支付命令</a></li>
                <li><a class="dropdown-item" href="#">民事調解聲請狀</a></li>
                <li><a class="dropdown-item" href="#">存證信函</a></li>
                <li><a class="dropdown-item" href="#">強制執行聲請</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">法律諮詢</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">專業法律顧問</a>
            </li>
          </ul>
        </div>
        <a class="navbar-brand m-1 p-1" target="_blank" href="https://www.facebook.com">
          <span class="material-icons">
            facebook
          </span>
        </a>
      </div>
    </nav>
  </header>
  <h1><br/></h1>

  <main>
      <!--Logo and Webname-->
  <!--Terminal text-->
  <div class='console-container'>
    <span id='text'></span>
    <div class='console-underscore' id='console'>&#95;</div>
  </div>
  <!--End of Termival text-->

  <br>
  <br>
  <!--<h1>書狀不求人，自己能完成</h1>-->
  <h2>線上書狀不求人，我們幫你來完成</h2>
  <h3>線上書狀不求人，網站點點就完成</h3>
  <h4>線上書狀不求人，資料輸入就完成</h4>
  <h4>法律書狀不求人，線上快速就搞定</h4>
  <div class="mainvisual">
      <img class="rounded-pill" id="logo" src="../media/pexels-cqfavocat-613508.jpg" alt="Wedsite Logo">
  </div>
  <br/>

  <!--Information in carousel slides-->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="../media/pexels-andrea-piacquadio-3760067.jpg" class="d-block w-100 img-fluid" alt="404 not found">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../media/pexels-pixabay-48148.jpg" class="d-block w-100 img-fluid" alt="404 not found">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../media/pexels-pixabay-327540.jpg" class="d-block w-100 img-fluid" alt="404 not found">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  

  <!--application selector-->
  <h1><strong>尋找書狀</strong></h1>
  <div class="container-fluid">
      <div class="row justify-content-center row-cols-sm-auto row-cols-md-auto g-2">
          <div class="col-4">
              <div class="d-flex justify-content-center">
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="application" autocomplete="off" checked>
                  <label class="btn btn-outline-secondary" for="btnradio1">所有書狀</label>
              </div>
          </div>

          <div class="col-4">
              <div class="d-flex justify-content-center">
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="money" autocomplete="off">
                  <label class="btn btn-outline-secondary" for="btnradio2">金錢債務類</label>
              </div>
          </div>
          <div class="col-4">
              <div class="d-flex justify-content-center">
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio3" value="relationship" autocomplete="off">
                  <label class="btn btn-outline-secondary" for="btnradio3">婚姻感情類</label>
              </div>
          </div>
          <div class="col-4">
              <div class="d-flex justify-content-center">
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio4" value="house" autocomplete="off">
                  <label class="btn btn-outline-secondary" for="btnradio4">居住鄰損類</label>
              </div>
          </div>
          <div class="col-4">
              <div class="d-flex justify-content-center">
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio5" value="car" autocomplete="off">
                  <label class="btn btn-outline-secondary" for="btnradio5">交通事故類</label>
              </div>
          </div>

          <div class="col-4">
            <div class="d-flex justify-content-center">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio6" value="labor" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradio6">勞資爭議類</label>
            </div>
          </div>
          
          <div class="col-4">
            <div class="d-flex justify-content-center">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio7" value="will" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradio7">遺囑類</label>
            </div>
          </div>

          <div class="col-4">
              <div class="d-flex justify-content-center">
                  <input type="radio" class="btn-check" name="btnradio" id="btnradio8" value="others" autocomplete="off">
                  <label class="btn btn-outline-secondary" for="btnradio8">其他類</label>
              </div>
          </div>
      </div>
  </div>

  <!--application cards-->
  <div class="container-fluid">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-1 m-1 p-1">

          <div class="text-center p-3 g-2 application money">
            <div class="card">
              <img src="../media/pexels-roman-odintsov-4553619.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h3 class="card-title"><strong>本票</strong></h3>
                  <a href="{% url 'ticket' %}" class="btn btn-outline-secondary">馬上填寫</a>
              </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application money">
            <div class="card">
              <img src="../media/pexels-lukas-928184.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h3 class="card-title"><strong>支票</strong></h3>
                  <a href="{% url 'application' %}" class="btn btn-outline-secondary">馬上填寫</a>
              </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application money">
            <div class="card">
              <img src="../media/pexels-lukas-928184.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h3 class="card-title"><strong>借款</strong></h3>
                  <a href="#" class="btn btn-outline-secondary">馬上填寫</a>
              </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application money">
            <div class="card">
              <img src="../media/pexels-pixabay-164688.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">貨款</h3>
                <a href="#" class="btn btn-outline-secondary">馬上填寫</a>
              </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application money">
            <div class="card">
              <img src="../media/pexels-pixabay-164688.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">通用起訴狀</h3>
                <a href="#" class="btn btn-outline-secondary">馬上填寫</a>
              </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application relationship">
            <div class="card">
              <img src="../media/pexels-wallace-araujo-3491999.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">離婚</h3>
                  <a href="#" class="btn btn-outline-secondary">馬上填寫</a>
                </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application relationship">
            <div class="card">
              <img src="../media/pexels-emma-bauso-2253879.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">給付扶養費</h3>
                <a href="#" class="btn btn-outline-secondary">馬上填寫</a>
              </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application relationship">
            <div class="card">
              <img src="../media/pexels-emma-bauso-2253879.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">酌定會面交往權</h3>
                <a href="#" class="btn btn-outline-secondary">馬上填寫</a>
              </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application relationship">
            <div class="card">
              <img src="../media/pexels-emma-bauso-2253879.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">夫妻剩餘財產</h3>
                <a href="#" class="btn btn-outline-secondary">馬上填寫</a>
              </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application relationship">
            <div class="card">
              <img src="../media/pexels-emma-bauso-2253879.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">離婚協議書</h3>
                <a href="#" class="btn btn-outline-secondary">馬上填寫</a>
              </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application relationship">
            <div class="card">
              <img src="../media/pexels-emma-bauso-2253879.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">通用起訴狀</h3>
                <a href="#" class="btn btn-outline-secondary">馬上填寫</a>
              </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application house">
            <div class="card">
              <img src="../media/pexels-max-vakhtbovych-6933768.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">房租欠繳</h3>
                <a href="#" class="btn btn-outline-secondary">馬上填寫</a>
              </div>
            </div>
          </div>
          
          <div class="text-center p-3 g-2 application house">
            <div class="card">
              <img src="../media/pexels-karolina-grabowska-4386421.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">押金催討</h3>
                <a href="#" class="btn btn-outline-secondary">線上書狀製作</a>
              </div>
            </div>
          </div>
          
          <div class="text-center p-3 g-2 application house">
            <div class="card">
              <img src="../media/pexels-karolina-grabowska-4386421.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">漏水修繕費</h3>
                <a href="#" class="btn btn-outline-secondary">線上書狀製作</a>
              </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application house">
            <div class="card">
              <img src="../media/pexels-karolina-grabowska-4386421.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">通用起訴狀（修繕）</h3>
                <a href="#" class="btn btn-outline-secondary">線上書狀製作</a>
              </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application car">
            <div class="card">
              <img src="../media/pexels-pixabay-163016.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">車禍賠償</h3>
                <a href="#" class="btn btn-outline-secondary">馬上填寫</a>
              </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application car">
            <div class="card">
              <img src="../media/pexels-mike-1035108.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">通用起訴狀</h3>
                <a href="#" class="btn btn-outline-secondary">馬上填寫</a>
              </div>
            </div>
          </div>
          
          <div class="text-center p-3 g-2 application labor">
            <div class="card">
              <img src="../media/pexels-lukas-684387.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">雇傭關係存在</h3>
                <a href="#" class="btn btn-outline-secondary">馬上填寫</a>
              </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application labor">
            <div class="card">
              <img src="../media/pexels-lukas-684387.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">給付資遣費</h3>
                <a href="#" class="btn btn-outline-secondary">馬上填寫</a>
              </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application will">
            <div class="card">
              <img src="../media/pexels-pixabay-161280.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">自書遺囑</h3>
                <a href="#" class="btn btn-outline-secondary">遺囑書狀製作</a>
              </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application will">
            <div class="card">
              <img src="../media/pexels-pixabay-161280.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">律師見證遺囑</h3>
                <a href="#" class="btn btn-outline-secondary">遺囑書狀製作</a>
              </div>
            </div>
          </div>
          
          <div class="text-center p-3 g-2 application others">
            <div class="card">
              <img src="../media/pexels-pascal-renet-1089306.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">支付命令</h3>
                <a href="#" class="btn btn-outline-secondary">書狀製作</a>
              </div>
            </div>
          </div>

          <div class="text-center p-3 g-2 application others">
            <div class="card">
              <img src="../media/pexels-pascal-renet-1089306.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">民事調解聲請狀</h3>
                <a href="#" class="btn btn-outline-secondary">書狀製作</a>
              </div>
            </div>
          </div>
          
          <div class="text-center p-3 g-2 application others">
            <div class="card">
              <img src="../media/pexels-nataliya-vaitkevich-6863181.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">存證信函</h3>
                <a href="#" class="btn btn-outline-secondary">馬上填寫</a>
              </div>
            </div>
          </div>
          
          <div class="text-center p-3 g-2 application others">
            <div class="card">
              <img src="../media/pexels-nataliya-vaitkevich-6863181.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h3 class="card-title">強制執行聲請</h3>
                <a href="#" class="btn btn-outline-secondary">馬上填寫</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </main>
  
  <!--shortcut link-->
  <div class="container-fluid">
    <div class="row justify-content-end">
      <div class="col-auto">
        <a class="shortcut" href="#carouselExampleCaptions">
          <strong>回到本頁使用說明懶人包</strong>
          <span class="material-icons" style="vertical-align:bottom;">
            arrow_upward
          </span>
        </a>
      </div>
    </div>
  </div>
  </main>


  <!--footer-->
  <footer class="container-fluid">
    <hr>
    <div class="row justify-content-center">
      <div class="col-auto">
        <strong>找不到想要的書狀? &emsp;想尋求律師服務? &emsp;</strong>
        <a href="#" class="cta">
          <span>聯絡我們</span>
          <svg width="13px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </a>
      </div>
    </div>

    <br>
    <div class="copyright row justify-content-center">
      <div class="col-auto"><small>著作權 &COPY; 2021 線上書狀不求人 版權所有</small></div>
      <div class="col-auto"><small>Copyright &copy; 2021 線上書狀不求人 All rights reserved.</small></div>
    </div>
  </footer>

  <script src="../static/bootstrap.bundle.min.js"></script>
  <script src="../static/custom.js"></script>
 

</body>
</html>