{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container-fluid">

      <div class="row border border-danger p-3 m-1 justify-content-center text-center">
        <h1>民事本票裁定聲請書狀</h1>
        <div class="col-12 col-lg-6 p-3 g-2 border border-primary">
          <h3>個人資訊</h3>
          <div class="mb-3 border border-dark">
            <label for="personInfo" class="form-label">聲請人姓名</label>
            <input type="text" class="form-control" id="personInfo" placeholder="您的姓名"> 
            <br>
            <label for="personInfo2" class="form-label">聲請人電話</label>
            <input type="text" class="form-control" id="personInfo2" placeholder="您的電話"> 
            <br>
            <label for="personInfo3" class="form-label">聲請人地址</label>
            <input type="text" class="form-control" id="personInfo3" placeholder="您的地址"> 
            <br>
            <label for="personInfo4" class="form-label">發票人姓名</label>
            <input type="text" class="form-control" id="personInfo4" placeholder="對方的姓名"> 
            <br>
            <label for="personInfo5" class="form-label">發票人身分證統一編號</label>
            <input type="text" class="form-control" id="personInfo5" placeholder="對方的身分證號碼"> 
            <br>
            <label for="personInfo6" class="form-label">發票人戶籍地址</label>
            <input type="text" class="form-control" id="personInfo6" placeholder="對方的戶籍地址"> 
            <br>
            <label for="personInfo7" class="form-label">發票人發票地址</label>
            <input type="text" class="form-control" id="personInfo7" placeholder="對方的發票地址"> 
          </div>
        </div>

        <div class="col-12 col-lg-6 p-3 g-2 border border-primary">
          <h3>本票資訊</h3>
          <div class="mb-3 border border-dark">
            <label for="ticketInfo" class="form-label">本票金額</label>
            <input type="text" class="form-control" id="ticketInfo" placeholder="0"> 
            <br>
            <label for="ticketInfo2" class="form-label">本票是否有紀載約定利率</label>
            <input type="text" class="form-control" id="ticketInfo2" placeholder="本票約定利率"> 
            <br>
            <label for="ticketInfo3" class="form-label">本票發票日</label>
            <input type="text" class="form-control" id="ticketInfo3" placeholder="本票發票日"> 
            <br>
            <label for="ticketInfo4" class="form-label">本票是否有紀載到期日</label>
            <input type="text" class="form-control" id="ticketInfo4" placeholder="本票到期日"> 
            <br>
            <label for="ticketInfo5" class="form-label">本票是否有紀載提示日</label>
            <input type="text" class="form-control" id="ticketInfo5" placeholder="本票提示日"> 
            <br>
            <label for="ticketInfo6" class="form-label">發票地管轄法院</label>
            <input type="text" class="form-control" id="ticketInfo6" placeholder="用select選擇"> 
            <br>
            <label for="ticketInfo7" class="form-label">本票票號</label>
            <input type="text" class="form-control" id="ticketInfo7" placeholder="票號"> 
            <br>
            <label for="ticketInfo8" class="form-label">繕寫書狀日期</label>
            <input type="text" class="form-control" id="ticketInfo8" placeholder="書狀日期"> 
          </div>
        </div>

        <div class="col-12 col-sm-10 p-3 g-2 border border-primary">
          dsf,;ldskfs;lklf;
        </div>

      </div>
    </div>

{% endblock %}



